#PBS -N container
#PBS -l nodes=1:ppn=12
#PBS -l walltime=01:00:00
#PBS -j oe
#PBS -S /bin/bash

echo "---Job started at:"
date

echo "name = <%= @model.name %>"
echo "temperature = <%= @model.temperature %>"

echo "wall = wall/<%= @model.wall.file.original_filename %>"

<% @model.inlets.each do |inlet| %>
  echo "inlet = inlets/<%= inlet.file.original_filename %>"
<% end %>

sleep 30

echo "---Job finished at:"
date
