<p>
The <strong>X</strong> axis is red.
The <strong>Y</strong> axis is green.
The <strong>Z</strong> axis is blue.
</p>

<p>
  <div class="astl-viewer" data-type="stl">
    <div class="astl-canvas"></div>
    <ul class="astl-files">
      <% @container.inlets.each do |inlet| %>
        <li>
          <%= link_to inlet.stl_file_name, inlet.stl.url, data: { :color => '#ff0000' } %>
        </li>
      <% end %>
      <% @container.outlets.each do |outlet| %>
        <li>
          <%= link_to outlet.stl_file_name, outlet.stl.url, data: { :color => '#0000ff' } %>
        </li>
      <% end %>
      <li>
        <%= link_to @container.walls_file_name, @container.walls.url, :class => 'astl-parent', data: { :color => '#444444' } %>
      </li>
    </ul>
  </div>
</p>

<%= link_to '<span class="glyphicon glyphicon-arrow-left"></span>'.html_safe, @container, class: 'btn btn-default', data: { toggle: 'tooltip', placement: 'bottom' }, title: 'Back' %>
