<h1>Tutorial</h1>
<p>Coming soon! For now, use these input files and default values for a test job</p>

<%# FIXME: path to public directory file? %>

<ul>
<li><%= link_to "inlet1.stl", "tutorial_files/inlet1.stl" %> 0 vx -1 vy  0 vz</li>
<li><%= link_to "inlet2.stl", "tutorial_files/inlet2.stl" %> 0 vx -1 vy  0 vz</li>
<li><%= link_to "outlet1.stl", "tutorial_files/outlet1.stl" %></li>
<li><%= link_to "walls.stl", "tutorial_files/walls.stl" %></li>
<li>meters for scale</li>
<li>choose "water" for fluid (or type water in fluid for safari which will auto fill the rest of the params)</li>
</ul>


