.astl-viewer {

    width: 350px;
    border-width: 1px;
    border-style: solid;
    border-color: black;

}

.astl-canvas {

    height: 350px;

}

.astl-files {

    list-style-type: none;
    padding: 0;
    margin: 35px;
    margin-top: 0px;

}

.astl-files li > div {

    margin: 2px;

}

.astl-name {

}

.astl-loading {

    font-weight: bold;

}

.astl-color-bar {

    height: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;

}

.astl-color {

    display: inline-block;
    padding-right: 10px;

}

.astl-color label {

    margin-right: 2px;

}

.astl-toggle {

    display: inline-block;

}
