.astl-viewer {
    height: 350px;
}

.astl-canvas {
    display: inline-block;
    height: 100%;
    width: 350px;
}

.astl-files {
    display: inline-block;
    list-style-type: none;
    width: 250px;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: auto;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.astl-files li {
    margin: 15px;
}

.astl-item {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.astl-name {
    font-size: large;
    font-weight: bold;
    margin-bottom: 5px;
}

.astl-color {
    display: inline-block;
    padding-right: 10px;
}

.astl-color label {
    margin-right: 2px;
}

.astl-toggle {
    display: inline-block;
}

.astl-toggle input[type=checkbox] {
    display: none;
}

.astl-toggle input[type=checkbox] + label:before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 15px;
    height: 15px;
    margin-right: 8px;
    background-color: #aaa;
    box-shadow: inset 0px 2px 2px rgba( 0, 0, 0, 0.3 );
    border-radius: 2px;
}

.astl-toggle input[type=checkbox]:checked + label:before {
    background-color: #00bf00;
}

.astl-color-bar {
    display: inline-block;
    vertical-align: middle;
    height: 3em;
    width: 3em;
    border-width: 3px;
    border-style: solid;
    border-color: rgba( 0, 0, 0, 0.15 );
    border-radius: 100%;
}

.astl-loading-color-bar {
    border-top-color: rgba( 0, 0, 0, 0.80 );
    animation: rotation .6s infinite linear;
    -webkit-animation: rotation .6s infinite linear;
}

@keyframes rotation {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@-webkit-keyframes rotation {

    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
